<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>__book_title__</title>
		<meta name="dc:format" content="Daisy 2.02"/>
		<meta name="dc:title" content="__book_title__"/>
		<meta name="dc:identifier" content="Unknown"/>
		<meta name="dc:publisher" content="A.N.a.B."/>
		<meta name="dc:date" content="__book_date__" scheme="yyyy-mm-dd"/>
		<meta name="dc:language" content="en" scheme="ISO 639"/>
		<meta name="dc:creator" content="__book_creator__"/>
		<meta name="dc:subject" content="__book_keywords__" scheme="keyword"/>
		<meta name="dc:source" content="A.N.a.B"/>
		<meta name="ncc:charset" content="utf-8"/>
		<meta name="ncc:tocItems" content="__book_nb_excerpts__"/>
		<meta name="ncc:generator" content="A.N.a.B."/>
		<meta name="ncc:totalTime" content="__book_duration__" scheme="hh:mm:ss"/>
		<meta name="ncc:pageFront" content="0"/>
		<meta name="ncc:pageNormal" content="__book_nb_excerpts__"/>
		<meta name="ncc:pageSpecial" content="0"/>
		<meta name="ncc:prodNotes" content="0"/>
		<meta name="ncc:sidebars" content="0"/>
		<meta name="ncc:footnotes" content="0"/>
		<meta name="ncc:kByteSize" content="__book_size__"/>
		<meta name="ncc:files" content="__book_nb_excerpts__"/>
		<meta name="ncc:setInfo" content="1 of 1"/>
		<meta name="ncc:maxPageNormal" content="__book_nb_excerpts__"/>
		<meta name="ncc:depth" content="1"/>
		<meta name="ncc:sourceDate" content="__book_date__" scheme="yyyy-mm-dd"/>
		<meta name="ncc:multimediaType" content="audioNcc"/>
		<meta name="ncc:sourceEdition" content="1."/>
		<meta name="ncc:sourcePublisher" content="A.N.a.B."/>
		<meta name="ncc:sourceRights" content="Copyleft"/>
		<meta name="ncc:narrator" content="__book_creator__"/>
		<meta name="ncc:sourceTitle" content="__book_title__"/>
		<meta name="prod:ep_update" content=""/>
		<meta name="prod:last_used_id" content=""/>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	</head>
	<body>
